<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <input
        type="text"
        class="form-control mb-3"
        placeholder="Search by Order ID"
        [(ngModel)]="orderIdToSearchFor"
        (input)="searchForOrdersById()"
      />

      <div
        class="orders-container"
        *ngIf="orders && orders.length > 0; else noOrders"
      >
        <div class="order" *ngFor="let order of searchedOrders">
          <div class="order-details">
            <p class="order-info">
              <span class="fw-bold">Order ID:</span> {{ order.id }}
            </p>
            <p class="order-info">
              <span class="fw-bold">Order Date:</span>
              {{ order.orderDate }}
            </p>
            <div class="customer-info">
              <h5><span class="fw-bold">Order Information</span></h5>
              <p>
                <span class="fw-bold">Name:</span> {{ order.name }}
                {{ order.infix }} {{ order.last_name }}
              </p>
              <p>
                <span class="fw-bold">Address:</span> {{ order.houseNumber }},
                {{ order.zipcode }}
              </p>
              <p><span class="fw-bold">Notes:</span> {{ order.notes }}</p>
            </div>
            <ul class="products-list">
              <li class="product" *ngFor="let product of order.orderLines">
                @if (product.amount!=0) {
                <div class="product-details">
                  <p class="product-name">
                    <span class="fw-bold">Product Name:</span>
                    {{ product.name }}
                  </p>
                  <p class="product-price">
                    <span class="fw-bold">Status:</span>
                    {{ product.status }}
                  </p>
                  <p class="product-price">
                    <span class="fw-bold">Price:</span>
                    {{ product.price | currency: "EUR" }}
                  </p>
                  <p class="product-price">
                    <span class="fw-bold">Quantity:</span>
                    {{ product.amount }}
                  </p>
                  <p class="product-price">
                    <span class="fw-bold">Subtotal:</span>
                    {{ product.price * product.amount | currency: "EUR" }}
                  </p>
                </div>
                <div class="product-image">
                  <img src="{{ product.imgURL }}" alt="{{ product.name }}" />
                </div>
              }
              </li>
              <p *ngIf="order.appliedCoupon" class="order-info">
                <span class="fw-bold">Coupon Code:</span>
                {{ order.appliedCoupon.code }}
              </p>
              <p *ngIf="order.appliedCoupon" class="order-info">
                <span class="fw-bold">Discount:</span>
                {{ order.appliedCoupon.percentage ? (order.appliedCoupon.discountAmount + '%') : (order.appliedCoupon.discountAmount | currency: "EUR") }}
              </p>
            
              <p *ngIf="order.discountAmount" class="order-info">
                <span class="fw-bold">Gift card discount:</span>
                {{ order.discountAmount |currency:'EUR'}}
              </p>
            <p *ngIf="order.giftCardCode" class="order-info">
              <span class="fw-bold">Gift card code:</span>
              {{ order.giftCardCode}}
            </p>
            </ul>
            <p class="order-total">
              <span class="fw-bold">Total:</span>
              {{
                calculateTotal(order.orderLines, order.appliedCoupon,order.discountAmount)
                  | currency: "EUR"
              }}
            </p>
          </div>
          <ng-container *ngIf="isWithin30Days(order.orderDate); else noReturn">
            <button
              type="button"
              class="btn btn-primary"
              (click)="initiateReturn(order)"
            >
              Initiate Return
            </button>
          </ng-container>
          <ng-template #noReturn>
            <button type="button" class="btn btn-secondary" disabled>
              Returns not possible after 30 days
            </button>
          </ng-template>
        </div>
      </div>

      <ng-template #noOrders>
        <div class="no-orders-message">
          <p>No orders found.</p>
        </div>
      </ng-template>

      <div class="return-policy alert alert-info">
        <p>
          We are committed to ensuring your complete satisfaction with your
          purchase. If for any reason you are not entirely pleased, you may
          return your item(s) within 30 days of the order date for a full refund
          through your original payment method.
        </p>
      </div>
    </div>
  </div>
</div>
